body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9fbff;
    background-image: url('https://img.freepik.com/vector-premium/estructuras-moleculares-hexagonales-abstractas-antecedentes-tecnologicos-estilo-cientifico-diseno-medico-ilustracion-vectorial_41981-2543.jpg?w=996');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

h2 {
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; 
}

header .logo img {
    max-width: 100%;
    height: auto;
    width: 50px;
}

header .logo img {
    height: auto;
    width: 50px;
    margin-right: 10px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus,
select:focus {
    border-color: #1a73e8;
    outline: none;
}

.btn-primary {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1669c1;
}

.btn-secondary {
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #bbb;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input {
    width: auto;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

#add-contact {
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#add-contact:hover {
    background-color: #1669c1;
}
